*,
html {
	--line-heigt: 16px;
	box-sizing: border-box;
	margin: 0;
}

body {
	background-image: url("/background_02.webp");

	background-size: 120%;
}

.page__wrapper {
	width: 100vw;
	height: 100vh;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.01) 20%,
		rgba(0, 0, 0, 1) 100%
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.main__section {
	position: relative;
	width: 800px;
	height: auto;
	display: grid;

	gap: 0px 50px;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"card__image card__info"
		"card__image card__info";
	backdrop-filter: blur(5px);
	background-color: rgba(255 255 255/0.3);
	padding: 50px;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: inset 2px 2px 2px rgb(255, 255, 255, 0.2),
		inset -2px -2px 2px rgb(0, 0, 0, 0.5);
}

.card__info {
	display: grid;
	height: 100%;
	grid-template-areas:
		"card__header"
		"card__text";
	grid-template-rows: 0.2fr auto;
	gap: 50px;
	grid-area: card__info;
}
.card__header {
	grid-area: card__header;
	height: auto;
	display: grid;

	grid-template-rows: 1fr 1fr;
}

#card__title {
	font-family: "Noto Serif", "times", "serif";
	grid-area: card__title;

	line-height: 1em;
}
.title-small {
	font-size: 25px;
}
.title-large {
	font-size: 30px;
}
#card__type {
	grid-area: card__type;
}

.card__stats {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 10px;
	width: 100%;
	min-height: 35px;
	height: min-content;
	border-radius: 15px;
	padding-inline: 10px;
	padding-block: 5px;
	box-shadow: inset -2px -2px 2px rgb(255, 255, 255, 0.2),
		inset 2px 2px 2px rgb(0, 0, 0, 0.2);
	overflow: hidden;
	grid-template-areas: "card__mana card__angdef card__symbol";
}
#card__mana {
	font-family: "Noto Serif", "times", "serif";
	grid-area: card__mana;
	height: min-content;
}
#card__angdef {
	font-family: "Noto Serif", "times", "serif";
	grid-area: card__angdef;
	justify-self: center;
}
.symbol__container {
	align-items: center;
	vertical-align: middle;
	justify-self: start;
	height: auto;
}
.card__symbol {
	width: var(--line-heigt);
	margin-inline: 2.5px;
	height: auto;
	grid-area: card__symbol;
	align-self: center;
}
#card__set {
	height: var(--line-heigt);
	width: auto;
	margin-inline: 2.5px;
	align-self: center;
	justify-self: end;
}
.invisible {
	display: none;
}
#card__image {
	grid-area: card__image;
	width: 300px;
	height: auto;
	border-radius: 15px;
	z-index: 10;
}
.card__text {
	grid-area: card__text;
	width: 100%;
	align-self: start;
}

#card__flavor {
	margin-top: 20px;
	font-style: italic;
	font-family: "Noto Serif";
}

@keyframes fade-out-top {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}

@keyframes fade-out-right {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

.animation__fade-out-top {
	animation: fade-out-top 0.3s ease-out 0s 1 normal forwards;
}

.animation__fade-out-right {
	animation: fade-out-right 0.3s ease-out 0s 1 normal forwards;
}
.animation__fade-in-top {
	animation: fade-out-top 0.3s ease-out 0s 1 reverse forwards;
}

.animation__fade-in-right {
	animation: fade-out-right 0.3s ease-out 0s 1 reverse forwards;
}

#button__refresh-card {
	width: 300px;
	height: 3em;
	position: relative;
	border-radius: 0;
	border: 4px ridge rgb(216, 175, 98);
	font-family: helvetica;
	font-weight: 900;
	font-size: 1rem;
	color: rgb(216, 175, 98);

	background-color: #b92e34;
	background-image: linear-gradient(326deg, #b92e34 0%, #3d0c02 74%);
	box-shadow: inset 4px 4px 2px rgb(255, 255, 255, 0.2),
		inset -4px -4px 2px rgb(0, 0, 0, 0.2);
	text-shadow: 1px 1px 0px rgb(255, 255, 255, 0.3),
		-1px -1px 0px rgb(0, 0, 0, 0.3);
}

#button__refresh-card:active {
	box-shadow: inset -2px -2px 2px rgb(255, 255, 255, 0.2),
		inset 2px 2px 2px rgb(0, 0, 0, 0.2);
	text-shadow: -1px -1px 0px rgb(255, 255, 255, 0.3),
		1px 1px 0px rgb(0, 0, 0, 0.3);
}
