*,
html {
	--line-heigt: 16px;
	box-sizing: border-box;
	margin: 0;
}

body {
	background-image: url("./background_02.webp");
	background-attachment: fixed;
	background-size: 120%;
}
h2 {
	font-size: 30px;
}

#button__set-favorite {
	background: none;
	border: none;
}

.card__gallery {
	position: relative;
	border-radius: 15px;
	max-width: 200px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	z-index: 1;
	pointer-events: all;
	backface-visibility: hidden;
	transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.sleeve {
	border-radius: 15px;
	transform-style: preserve-3d;

	perspective: 800px;

	pointer-events: none;
}

.card__button-overlay {
	position: absolute;
	width: 40px;
	height: 40px;
	background: white;
}
.section__main {
	position: relative;
	margin-top: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}
nav {
	position: absolute;
	width: 95vw;
	border-radius: 50px;
	height: 70px;
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: end;
	align-items: center;
	backdrop-filter: blur(5px);
	box-shadow: inset 2px 2px 2px rgb(255, 255, 255, 0.2),
		inset -2px -2px 2px rgb(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 10px;
	z-index: 2;
}
.navigation_menu {
	display: flex;
	justify-content: center;
}
#button__exit {
	border: none;
	background: none;
}

li:hover > .dropdown {
	display: block;
}

.navlink__active {
	background-color: white;
	color: black;
	-webkit-box-shadow: inset 4px 4px 5px 0px rgba(44, 22, 22, 0.953),
		inset -4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	-moz-box-shadow: inset 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		inset -4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	box-shadow: inset 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		inset -4px -4px 010px 0px rgba(255, 255, 255, 0.57);
}

.navlink__active span {
	color: black;
}
ul li {
	display: flex;
	align-items: center;
}
nav .wrapper__icon:hover {
	background: linear-gradient(326deg, #b92e34 0%, #3d0c02 74%);
	transition: 0.4s;
}
#modal__background {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
}
.login_register_switch {
	width: 300px;
	justify-content: space-between;
	display: flex;
	height: 45px;
	margin-top: 20px;
}
.modal {
	max-width: 400px;
	height: 60vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-color: #e3e3e3;
	border-radius: 20px;
	z-index: 5;
	font-family: "open sans", "sans serif";
	font-size: 12px;
}

.form.active {
	display: block;
}
.switch {
	background-color: #dedede;
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-radius: 50px;
	border: none;
	position: relative;
}
.button__navmenu {
	border: 1px solid black;
	padding: 10px;
	height: 70px;
	color: #e1e1e1;
	border-color: #e1e1e1;
	border-width: 0.5px;
	border-style: none none none solid;
	padding-inline: 40px;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.sign-in,
.logout {
	cursor: pointer;
}

button.switch {
	-webkit-box-shadow: 4px 4px 5px 0px rgba(44, 22, 22, 0.953),
		-4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	-moz-box-shadow: 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		-4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	box-shadow: 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		-4px -4px 010px 0px rgba(255, 255, 255, 0.57);
}
button.switch.active {
	-webkit-box-shadow: inset 4px 4px 5px 0px rgba(44, 22, 22, 0.953),
		inset -4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	-moz-box-shadow: inset 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		inset -4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	box-shadow: inset 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		inset -4px -4px 010px 0px rgba(255, 255, 255, 0.57);
}
input[type="radio"] {
	width: 0;
	border: none;
	background: none;
}
.active {
	display: block;
}
.form {
	margin-bottom: 50px;
	position: relative;
	display: none;
}
.form__title {
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}
.form_login {
	display: none;
}
input:active {
	border-color: green;
}
.form_login > input,
.form_register > input {
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	padding: 10px;
}
.form_login > a {
	color: black;
	font-family: "open sans", "sans-serif";
	font-size: 12px;
	align-self: center;
	margin: auto;
}
input {
	width: 300px;
	height: 45px;
	background-color: #e7e7e7;
	-webkit-box-shadow: inset 4px 4px 5px 0px rgba(44, 22, 22, 0.953),
		inset -4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	-moz-box-shadow: inset 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		inset -4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	box-shadow: inset 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		inset -4px -4px 010px 0px rgba(255, 255, 255, 0.57);
}
button[type="submit"] {
	background-color: #c44c84;
	color: white;
	border: none;
	border-radius: 5px;
	width: 300px;
	height: 45px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(44, 22, 22, 0.953),
		-4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	-moz-box-shadow: 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		-4px -4px 010px 0px rgba(255, 255, 255, 0.21);
	box-shadow: 4px 4px 5px 0px rgba(37, 37, 37, 0.21),
		-4px -4px 010px 0px rgba(255, 255, 255, 0.57);
}
.page__wrapper {
	width: 100vw;
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.01) 20%,
		rgba(0, 0, 0, 1) 100%
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.main__section {
	width: 800px;
	display: grid;
	gap: 0px 50px;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"card__image card__info"
		"card__image card__info";
	backdrop-filter: blur(5px);
	background-color: rgba(255 255 255/0.3);
	padding: 50px;
	border-radius: 15px;
	box-shadow: inset 2px 2px 2px rgb(255, 255, 255, 0.2),
		inset -2px -2px 2px rgb(0, 0, 0, 0.5);
}
.main__section.card__display {
	gap: 0px 50px;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"card__image card__info"
		"card__image card__info";
}
.main__section.gallery {
	display: flex;
	justify-content: flex-start;
}
.gallery__card {
	/*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 40px;*/
	display: flex;
	justify-content: space-around;
	gap: 20px;
	align-items: baseline;
	flex-wrap: wrap;
}
/*.card__gallery:hover {
	transform: scale(1.5);
	z-index: 3;
}*/
.card__info {
	display: grid;
	height: 100%;
	grid-template-areas:
		"card__header"
		"card__text";
	grid-template-rows: 0.2fr auto;
	gap: 50px;
	grid-area: card__info;
}
.card__header {
	grid-area: card__header;
	height: auto;
	display: grid;

	grid-template-rows: 1fr 1fr;
}
.icon__fav {
	float: right;
	margin-left: 20px;
}
#card__title {
	font-family: "Noto Serif", "times", "serif";
	grid-area: card__title;

	line-height: 1em;
}
.title-small {
	font-size: 25px;
}
.title-large {
	font-size: 30px;
}
#card__type {
	grid-area: card__type;
}

.card__stats {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 10px;
	align-items: center;
	width: 100%;
	min-height: 35px;
	height: min-content;
	border-radius: 15px;
	padding-inline: 10px;
	padding-block: 5px;
	box-shadow: inset -2px -2px 2px rgb(255, 255, 255, 0.2),
		inset 2px 2px 2px rgb(0, 0, 0, 0.2);
	overflow: hidden;
	grid-template-areas: "card__mana card__angdef card__symbol";
}
#card__mana {
	font-family: "Noto Serif", "times", "serif";
	grid-area: card__mana;
	height: min-content;
}
#card__angdef {
	font-family: "Noto Serif", "times", "serif";
	grid-area: card__angdef;
	justify-self: center;
}
.symbol__container {
	align-items: center;
	vertical-align: middle;
	justify-self: center;
	height: auto;
}
.card__symbol {
	width: var(--line-heigt);
	margin-inline: 2.5px;
	height: auto;
	grid-area: card__symbol;
	align-self: center;
	vertical-align: middle;
}
#card__set {
	height: var(--line-heigt);
	width: auto;
	margin-inline: 2.5px;
	align-self: center;
	justify-self: end;
}
.invisible {
	display: none;
}
#card__image {
	grid-area: card__image;
	width: 300px;
	height: auto;
	border-radius: 15px;
	z-index: 10;
}
.card__text {
	grid-area: card__text;
	width: 100%;
	align-self: start;
}

#card__flavor {
	margin-top: 20px;
	font-style: italic;
	font-family: "Noto Serif";
}

@keyframes fade-out-top {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}

@keyframes fade-out-right {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

.animation__fade-out-top {
	animation: fade-out-top 0.3s ease-out 0s 1 normal forwards;
}

.animation__fade-out-right {
	animation: fade-out-right 0.3s ease-out 0s 1 normal forwards;
}
.animation__fade-in-top {
	animation: fade-out-top 0.3s ease-out 0s 1 reverse forwards;
}

.animation__fade-in-right {
	animation: fade-out-right 0.3s ease-out 0s 1 reverse forwards;
}

#button__refresh-card {
	width: 300px;
	height: 3em;

	border-radius: 0;
	border: 4px ridge rgb(216, 175, 98);
	font-family: helvetica;
	font-weight: 900;
	font-size: 1rem;
	color: rgb(216, 175, 98);

	background-color: #b92e34;
	background-image: linear-gradient(326deg, #b92e34 0%, #3d0c02 74%);
	box-shadow: inset 4px 4px 2px rgb(255, 255, 255, 0.2),
		inset -4px -4px 2px rgb(0, 0, 0, 0.2);
	text-shadow: 1px 1px 0px rgb(255, 255, 255, 0.3),
		-1px -1px 0px rgb(0, 0, 0, 0.3);
}

#button__refresh-card:active {
	box-shadow: inset -2px -2px 2px rgb(255, 255, 255, 0.2),
		inset 2px 2px 2px rgb(0, 0, 0, 0.2);
	text-shadow: -1px -1px 0px rgb(255, 255, 255, 0.3),
		1px 1px 0px rgb(0, 0, 0, 0.3);
}
