*,
html {
	--line-heigt: 16px;
	box-sizing: border-box;
	margin: 0;
}

body {
	background-image: url("/background.webp");
	background-size: 120%;
}

.page__wrapper {
	width: 100vw;
	height: 100vh;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.01) 88%,
		rgba(0, 0, 0, 1) 100%
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.main__section {
	position: relative;
	width: 800px;
	height: auto;
	display: grid;

	gap: 0px 50px;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"card__image card__info"
		"card__image card__info";
	backdrop-filter: blur(5px);
	background-color: rgba(255 255 255/0.2);
	padding: 50px;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: inset 2px 2px 2px rgb(255, 255, 255, 0.2),
		inset -2px -2px 2px rgb(0, 0, 0, 0.5);
}

.card__info {
	display: grid;
	grid-template-areas:
		"card__header"
		"card__text";
	grid-template-columns: 1fr auto;
}
.card__header {
	grid-area: card__header;
	height: auto;
	display: grid;
}

#card__title {
	font-family: "Noto Serif", "times", "serif";
	grid-area: card__title;

	line-height: 1em;
}
.title-small {
	font-size: 25px;
}
.title-large {
	font-size: 30px;
}
#card__type {
	grid-area: card__type;
}

.card__stats {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 10px;
	width: 100%;
	border-radius: 15px;
	padding-inline: 10px;
	padding-block: 5px;
	box-shadow: inset -2px -2px 2px rgb(255, 255, 255, 0.2),
		inset 2px 2px 2px rgb(0, 0, 0, 0.2);
	overflow: hidden;
	grid-template-areas: "card__mana card__angdef card__symbol";
}
#card__mana {
	font-family: "Noto Serif", "times", "serif";
	grid-area: card__mana;
}
#card__angdef {
	font-family: "Noto Serif", "times", "serif";
	grid-area: card__angdef;
	justify-self: center;
}
.symbol__container {
	align-items: center;
	vertical-align: middle;
	justify-self: start;
}
.card__symbol {
	width: var(--line-heigt);
	margin-inline: 2.5px;
	height: auto;
	grid-area: card__symbol;
}
#card__set {
	height: var(--line-heigt);
	width: auto;
	margin-inline: 2.5px;
	align-self: center;
	justify-self: end;
}
.invisible {
	display: none;
}
#card__image {
	grid-area: card__image;
	width: 300px;
	height: auto;
	border-radius: 15px;
}
.card__text {
	grid-area: card__text;
	width: 100%;
}

#card__flavor {
	margin-top: 20px;
	font-style: italic;
	font-family: "Noto Serif";
}

@keyframes fade-out {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.animation__fade-out {
	animation: fade-out 0.4s ease-in 0s 1 normal forwards;
}
.animation__fade-in {
	animation: fade-in 0.4s ease-in 0s 1 normal forwards;
}
